<?xml version="1.0"?>
<config>
  <modules>
    <Foundation_CustomizableFraudFilters>
      <version>0.1.0</version>
    </Foundation_CustomizableFraudFilters>
  </modules>
  <global>
    <helpers>
      <customizablefraudfilters>
        <class>Foundation_CustomizableFraudFilters_Helper</class>
      </customizablefraudfilters>
    </helpers>
	<resources>
	  <customizablefraudfilters_setup>
		<setup>
		  <module>Foundation_CustomizableFraudFilters</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customizablefraudfilters_setup>
	  <customizablefraudfilters_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customizablefraudfilters_write>
	  <customizablefraudfilters_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customizablefraudfilters_read>
	</resources>
  </global>
</config> 